<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Update Account</title>
  </head>
  <body>
    <div class="container d-flex justify-content-center w-25 my-2">
      {{#if message}}
        <h4 class="alert {{color}} mt-3">{{message}}</h4>
      {{/if}}
    </div>
    <div class="container d-flex justify-content-center">
      <div class="card mt-5 w-25 shadow-lg p-3 mb-5 rounded">
        <div class="card-header text-center bg-primary text-white rounded-5">
          Update Account
        </div>
        <div class="card-body">
          <form action="/auth/updateuser" method="post">
            <fieldset>
              <label class="form-label" for="first_name">First Name:</label><br
              />
              <input
                class="form-control"
                type="text"
                name="first_name"
                id="first_name"
                value="{{result.first_name}}"
              /><br />
              <label class="form-label" for="last_name">Last Name:</label><br />
              <input
                class="form-control"
                type="text"
                name="last_name"
                id="last_name"
                value="{{result.last_name}}"
              /><br />
              <label class="form-label" for="email">Email:</label><br />
              <input
                class="form-control"
                type="email"
                name="email"
                id="email"
                value="{{result.email}}"
                readonly
              /><br />

              <button
                class="btn btn-warning w-100"
                type="submit"
              >Update</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>